streamlit==1.35.0
fastapi==0.111.0
uvicorn==0.30.0
torch==2.3.0
torchvision==0.18.0
transformers==4.41.0
mediapipe==0.10.14
scikit-learn==1.5.0
shap==0.45.0
opencv-python==4.10.0.82
pillow==10.3.0
pandas==2.2.2
numpy==1.26.4
pydantic==2.7.0
python-jose==3.3.0
reportlab==4.2.0
sqlalchemy==2.0.30
pyyaml==6.0.1
bangla==0.0.2
sentencepiece==0.2.0
